<h1>NEW an ArtistInstrument</h1>

<%= form_for @artist_instrument do |f| %>
	<%= f.label :artist_id %>
	<br>
	<%= f.text_field :artist_id %>
	<br>
	<br>
	<%= f.label :instrument %>
	<br>
	<%= f.collection_select :instrument_id, Instrument.all, :id, :name %> 
	<br>
	<%= f.label :artist %>
	<%= f.collection_select :artist_id, Artist.all, :id, :name %> 
	<br>
	<%= f.submit %>
  <% end %>

